
<link rel="stylesheet" href="/app/website/bluesky/presentation/ppt.css">
<link rel="stylesheet" href="/app/website/bluesky/presentation/style.css">
<script src="/app/website/bluesky/presentation/ppt.js"></script>

	<nav id="xnav" class="ui medium top fixed pointing menu borderless">
		<div class="ui container nav">
			<div class="header item logo"><img src="{{ img }}BlueSky.png" alt="BlueSky Digital Labs" /></div>
		</div><!-- /.ui.container -->
	</nav><!-- /stickymenu -->

	<div id="bluesky" class="pusher">

		<section id="con">
			<div class="emspace h80"></div>
			<div class="ui page grid">
				<div id="viw" class="ui container">



<div class="emspace h60"></div>
<div id="presentation"></div>
<script>$('#presentation').ppt({width:640,height:480,imageUrl:[



{ src:'/app/website/bluesky/presentation/slide-01.jpg' },
{ src:'/app/website/bluesky/presentation/slide-02.jpg' },
{ src:'/app/website/bluesky/presentation/slide-03.jpg' },
{ src:'/app/website/bluesky/presentation/slide-04.jpg' },
{ src:'/app/website/bluesky/presentation/slide-05.jpg' },
{ src:'/app/website/bluesky/presentation/slide-06.jpg' }



]})</script>



					<div class="emspace h40 floatc"></div>
				</div><!-- /.ui.container -->
			</div><!--/.ui.page.grid -->
			<div class="emspace h60 floatc"></div>
		</section><!-- /#con -->

		<footer id="fot" class="ui inverted tiny vertical footer segment">
			<div class="ui container center">
				<div class="emspace h40"></div>

<p><img class="ui centered medium image" src="{{ img }}BlueSky_.png"></p>
<p><a class="addrlnk" href="https://goo.gl/maps/boRQVaRFVb52" target="_blank" rel="noopener noreferrer" title="BlueSky on Google Maps">Suite 4, 163 Wright Street, Kewdale 6105<br />Perth, Western Australia</a></p>

<div class="ui hidden divider"></div>

				<nav id="fnav">
					<span>&copy; 2018{% if "now"|date('Y') != 2018 %} - {{ "now"|date('Y') }}{% endif %} BlueSky Digital Labs</span>
				</nav><!-- /#fnav -->

				<div class="emspace h20 floatc"></div>

				<nav id="socnav">

<a class="circular ui icon button" href="https://www.linkedin.com/company/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on LinkedIn"><i class="linkedin icon big" aria-label="LinkedIn"></i></a>
<a class="circular ui icon button" href="https://www.instagram.com/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on Instagram"><i class="instagram icon big" aria-label="Instagram"></i></a>
<a class="circular ui icon button" href="https://www.facebook.com/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on FaceBook"><i class="facebook icon big" aria-label="Facebook"></i></a>
<a class="circular ui icon button" href="https://twitter.com/bluesky_labs" target="_blank" rel="noopener noreferrer" title="BlueSky on Twitter"><i class="twitter icon big" aria-label="Twitter"></i></a>
<a class="circular ui icon button" href="https://goo.gl/maps/boRQVaRFVb52" target="_blank" rel="noopener noreferrer" title="BlueSky on Google Maps"><i class="map marker alternate icon big"></i></a>

				</nav><!-- /#socnav -->

				<div class="emspace floatc"></div>
			</div><!-- /.ui.container -->

		</footer><!-- /#fot -->

		<div id="backtotop" class="circular ui icon button" title="back to top"><i class="angle double up icon"></i></div>
	</div><!-- /#bluesky.pusher -->

