
		<section id="con">
			<div class="emspace h80"></div>

{% if item.is_home_page or _url.path == "/" %}
{% include 'body_hom.twig' %}
{% else %}
{% include 'body_sub.twig' %}
{% endif %}


			<div class="emspace h80 floatc"></div>
		</section><!-- /#con -->

