
<h2 class="ui header centered">
	What clients say about us
	<span class="sub header">Read what some of clients we have worked with over the years, think about us.</span>
</h2>

<section id="testimonials">

		<div class="emspace floatc"></div>

	<div class="ui shape">
		<div class="sides center">

			<div class="side active">
				<div class="ui card">
					<div class="content">
						<div class="header">Genuine Partnership</div>
						<div class="meta">Billy Bowyer<br />Director, Epicuest</div>
						<div class="description">
<p>Working with BlueSky feels like a real partnership rather than a transactional relationship. We're in this together and they have our backs every step of the way.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/start-up-development/epicuest"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Oozes Integrity</div>
						<div class="meta">Phil Reardon<br />Director, Schoolzine</div>
						<div class="description">
<p>Amel oozes integrity and I felt very comfortable dealing with him from the start. I always felt confident the work was getting done in time frames agreed and the quality was always up there.</p>
<p>Working with BlueSky has always been a collaborative process where we bounce ideas around. They've suggested additional functionality and we know Amel's an extremely knowledgeable guy so we trust him to find the best solutions.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/system-integration/schoolzine"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Creative, Fair and Flexible</div>
						<div class="meta">Tim Antonievich<br />Director, RADAr</div>
						<div class="description">
<p>Amel and the team are creative, fair and flexible. We built a collaborative relationship with the intention to work with them long term.</p>
<p>The system was planned, delivered and executed on time and cost, which is pretty unusual when it comes to software development.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/system-integration/dccm-radar"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Fantastic Communication</div>
						<div class="meta">Michelle Alexander<br />Program Manager, Young Minds Connect</div>
						<div class="description">
<p>BlueSky have been fantastic, with a special mention for Tim, who has been our go-to contact person. Tim's ability to understand the product and what it means to our business has been a critical touch point.</p>
<p>The team are always available to resolve day to day issues and work hard to turn solutions around in a short time frame.</p>
						</div>
					</div>
					<a class="ui bottom attached button" href="/work/system-integration/osh-club"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Part of Our Team</div>
						<div class="meta">John Hurley<br />Director, BusBee</div>
						<div class="description">
<p>The guys were simply awesome to deal with, they were always upfront and transparent with a can-do approach.</p>
<p>When it came to pricing there were no nasty surprises and they always gave us options to 'develop now' or 'develop later' to manage our budget while still building in functionality.</p>
<p>Tim and Amel were always on our side, putting our business first and working as if they were part of our team.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/app-development/busbee"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Honest and Trustworthy Partners</div>
						<div class="meta">Cindy Knight<br />General Manager, Time Conti Sheffield</div>
						<div class="description">
<p>Blue Sky are delightful partners to work with, they truly have their client's best interests at heart.</p>
<p>They are honest, trustworthy and quick to respond, bending over backwards to help my team.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/custom-web-applications/time-conti-sheffield"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Innovative, Dependable and Value for Money</div>
						<div class="meta">Dave Wilson<br />Director, Norup + Wilson</div>
						<div class="description">
<p>We've been continually impressed with the team, any idea we throw at them they can scope, develop and deliver. Their talents have enabled us to demonstrate our USP to our clients and the technology they have developed has delivered increased business efficiencies.</p>
<p>Having worked with other web developers who are high on cost and low on delivery, Blue Sky are a breath of fresh air. They hit the mark when it comes to value for money and we have complete trust in their ability to continue to deliver innovative solutions for us.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/exploring-ideas/norup-wilson"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->
			<div class="side">
				<div class="ui card">
					<div class="content">
						<div class="header">Turning Ideas into Reality</div>
						<div class="meta">Chris Nimons<br />Director, Mediscriptz</div>
						<div class="description">
<p>BlueSky are my first point of call when it comes to custom development. They understand complex scenarios, work through the variables within them and are always straight down the line when it comes to what's possible.</p>
<p>It's no easy thing to take an idea and make it a reality, but they do this exceptionally well.</p>
						</div><!-- /.description -->
					</div><!-- /.content -->
					<a class="ui bottom attached button" href="/work/start-up-development/mediscriptz"><i class="file alternate outline icon"></i>View case study</a>
				</div><!-- /.ui.card -->
			</div><!-- /.side -->

		</div><!-- /.sides -->
	</div><!-- /.ui.shape -->

	<div class="emspace h20 floatc"></div>
	<div class="ui center">
		<div class="ui icon direction buttons">
			<div class="ui icon button shapefr" data-animation="flip" title="Flip Right" data-direction="right">Next Testimonial <i class="angle right icon"></i></div>
		</div>
	</div>


</section><!-- /#testimonials -->
<div class="emspace h20 floatc"></div>

