
			<div class="ui vertical stripe segment">
				<div class="ui middle aligned stackable grid container">
					<div class="row">
						<div class="eight wide column">
							<h3 class="ui header">We Help Companies and Companions</h3>
							<p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
							<h3 class="ui header">We Make Bananas That Can Dance</h3>
							<p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
						</div>
						<div class="six wide right floated column">
							<img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
						</div>
					</div>
				</div>
			</div>

			<div class="emspace h80 floatc"></div>

			<div class="ui grid">
				<div class="ui container">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lorem dignissim, hendrerit nisl vitae, scelerisque nisl. Curabitur sollicitudin nibh leo, id auctor est sodales non. Donec quis nisi varius, aliquet massa vel, vulputate diam. Integer volutpat est nisl, in feugiat mauris scelerisque et. Etiam ut auctor turpis. Vestibulum orci nulla, tristique vulputate fringilla eu, venenatis in leo. Etiam tincidunt egestas sem. Nulla posuere ligula nec urna viverra, ut aliquam erat posuere. Ut sodales rutrum turpis ac commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer commodo urna ipsum, non ultrices arcu vulputate sit amet. Ut ac viverra orci. Etiam interdum ultricies tincidunt. Donec vitae odio tellus.</p>
<p>Pellentesque nec faucibus odio. In hac habitasse platea dictumst. In efficitur elementum laoreet. Maecenas a scelerisque metus. Vestibulum facilisis vestibulum mi, sed tincidunt tellus. Sed ultricies ante sed sem gravida, eu iaculis elit placerat. Vestibulum quis vestibulum dui, eget semper nisl. Fusce fringilla enim sed lectus aliquet vulputate. Morbi eu turpis augue. Mauris tempor ligula quis mauris euismod condimentum. Nunc at faucibus ipsum. Vestibulum felis ex, luctus quis ipsum accumsan, semper commodo odio. Mauris vitae urna tincidunt, tincidunt ex lacinia, hendrerit mauris. In tortor sapien, egestas quis augue eu, tempor facilisis sem. Nulla facilisi. In non feugiat lectus.</p>
<p>Morbi eros risus, accumsan et euismod eu, cursus vel libero. Integer est nunc, tempus quis libero rhoncus, convallis blandit nunc. In a libero auctor, gravida enim a, dictum dolor. In eu tempor metus, ut convallis risus. In nec erat sed urna efficitur laoreet non sit amet erat. Sed molestie ut nisi eget accumsan. In sit amet lorem placerat turpis rhoncus accumsan. Vestibulum convallis justo turpis. Donec sollicitudin, tortor pretium accumsan malesuada, dui libero rutrum leo, ac commodo est lorem vitae felis. Nam feugiat orci eget augue elementum congue. Duis pulvinar sagittis efficitur. Morbi a posuere odio.</p>
<p>Nulla blandit blandit neque. Quisque turpis tortor, condimentum ac ornare quis, venenatis in metus. Sed facilisis eros in commodo auctor. Fusce est sapien, cursus sit amet ligula eu, vulputate cursus mi. Quisque id sapien a nisl sagittis convallis. Ut gravida luctus nisl non gravida. Morbi viverra, tellus id ultrices porta, elit augue tempor arcu, sit amet laoreet metus est vitae leo. Morbi fermentum placerat convallis. Suspendisse pellentesque massa vitae nibh ullamcorper ullamcorper. Aliquam pretium nulla ac imperdiet convallis. Morbi in arcu lacus. Nulla rutrum a urna viverra tempus. Aliquam ut ullamcorper urna.</p>
<p>Aenean facilisis libero ut blandit imperdiet. Integer at mi id sapien euismod ultricies quis ut erat. Cras a aliquet lacus, ut dapibus ipsum. Cras convallis tellus ut nunc sollicitudin interdum. Morbi suscipit, nulla et tristique pretium, felis velit porttitor neque, vel convallis nisl augue eget justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque porta nisi et eros scelerisque, eget posuere erat tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent pulvinar tristique leo, eget tincidunt nunc imperdiet pellentesque.</p>

				</div><!-- /.ui.container -->
			</div><!--/.ui.grid -->

