
<div class="ui piled segment big center">
<p><strong>BlueSky</strong> is a team of full stack developers, front end designers, data analysts and system integrators. Technology is in our blood, it's our passion, and we love working on the margins of possibility, pushing the boundaries and pioneering new ground.</p>
<p>We're simple guys who believe in being upfront, which is why we want to share who we are and what we stand for, so you can decide if we're a good fit to work together.</p>
</div>

<section class="w740 center fontsize21">
<h2>Why Choose BlueSky?</h2>
<p>Here at BlueSky we love to get stuck in to complex problems, thrive on challenges, and unleash our creative thinking. We've cultivated a formidable team of talented developers who think differently, test the edge, and excel technically. But we're also deep thinkers, who value integrity and long term relationships with our clients. It's our vision to help ethical business owners flourish with cutting edge solutions that take it to the next level.</p>
</section>


<!--{#
<div class="emspace h60 floatc"></div>
{% include 'body_con-testimonials.twig' %}
<div class="emspace h60 floatc"></div>
#}-->

