
	<section class="center">


<div class="ui piled segment big">
<p><strong>BlueSky</strong> is a team of full stack developers, front end designers, data analysts and system integrators. Technology is in our blood, it's our passion and we love working on the margins of possibility, pushing the boundaries and pioneering new ground. </p>
<p>We're simple guys who believe in being upfront, which is why we want to share who we are and what we stand for, so you can decide if we're a good fit to work together.</p>
</div>

<h2>Why and what is BlueSky?</h2>
<p>Why BlueSky? Because <em>blue-sky thinking</em> is defined as "the activity of trying to find completely new ideas", as well as "creative ideas that are not limited by current thinking or beliefs". That is ultimately the core of our business and of what we do.
<p>We develop innovative solutions for new ideas, or to solve existing problems. In industry terms, this is often referred to as custom web development, or just programming, but we aim to add some more thinking into our solutions in order to help build better solutions.</p>
<p>We've been doing this for a while, with the two owners starting out working together in 2006, developing custom web solutions. Amel was the lead back end developer and Rizal the lead front end developer at what started as a small company became Western Australia's largest custom web development organisation. As that organisation grew and spread out to other services and solutions, Amel and Rizal decided to start out on their own and focus solely on custom solutions.</p>
<p>Since then, the technology has changed from just websites to include mobile apps, beacons, VR and other cool things, but the solutions are still about building new and innovative products, or solving existing problems.</p>
<p>Amel and Rizal, the owners have retained their original focus and specialities, with Amel focusing on business requirements, scoping and back end development, while Rizal focuses on user interfaces, user experience and usability. As the business and team have grown around them, the variety of services has also changed, which brought about a name change from a generic name of Sidra Blue to BlueSky, to better align with the core identity of the business.</p>

<div class="emspace h60 floatc"></div>

<!--{#
<div class="ui hidden divider"></div>

<h2 class="ui header">We Think Differently</h2>
<p>At BlueSky we push the margins of possibility to create ingenious solutions. We're digital pioneers who embrace curiosity, stay open to innovation and think differently. From apps to system integrations, websites and web applications, if you can imagine it, we can code it!</p>
<p><a class="ui large primary button" href="/services" title="">What We Do<i class="right chevron icon"></i></a></p>

	</section>

<div class="ui hidden divider"></div>
#}-->

{% include 'body_con-testimonials.twig' %}

<div class="emspace h60 floatc"></div>
<!--{#
	<section class="center">

<h2 class="ui header">The Team at BlueSky</h2>
<p>Pellentesque nec faucibus odio. In hac habitasse platea dictumst. In efficitur elementum laoreet. Maecenas a scelerisque metus. Vestibulum facilisis vestibulum mi, sed tincidunt tellus. Sed ultricies ante sed sem gravida, eu iaculis elit placerat. Vestibulum quis vestibulum dui, eget semper nisl. Fusce fringilla enim sed lectus aliquet vulputate.</p>
<p><a class="ui large primary button" href="/about/team" title="">Meet The Team<i class="right chevron icon"></i></a></p>

	</section>
#}-->
