
	<section class="center">

<div class="ui piled segment big">
<p><strong>BlueSky</strong> is a team of full stack developers, front end designers, data analysts and system integrators. Technology is in our blood, it's our passion and we love working on the margins of possibility, pushing the boundaries and pioneering new ground. </p>
<p>We're simple guys who believe in being upfront, which is why we want to share who we are and what we stand for, so you can decide if we're a good fit to work together.</p>
</div>




<div class="emspace h60 floatc"></div>

{% include 'body_con-testimonials.twig' %}

<div class="emspace h60 floatc"></div>


