
	<div class="ui large top fixed hidden menu">
		<div class="ui container">
			<a class="active item">Home</a>
			<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
			<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
		</div>
	</div><!-- /stickymenu -->

	<div class="ui vertical inverted sidebar menu">
		<a class="active item">Home</a>
		<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
		<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
	</div><!-- /sidebarmenu -->

	<div class="pusher">
		<div id="landing" class="ui inverted vertical masthead center aligned segment">

			<div class="ui container">
				<div class="ui large secondary inverted pointing menu">
					<a class="toc item"><i class="sidebar icon"></i></a>
					<a class="active item">Home</a>
					<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
					<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
				</div><!-- /.menu -->
			</div><!-- /.ui.container -->
			<div class="ui text container vmiddle">
				<h1 class="ui inverted header textshadow">BlueSky Digital Labs</h1>
				<h3>
					Innovating Customised Online Solutions
					<br /><i class="fas fa-map-marker-alt textshadow"></i> Perth, Australia
				</h3>
				<div class="emspace h30"></div>
				<div class="ui huge button secondary" style="cursor:default;">website coming soon</div>
			</div><!-- /.ui.text.container -->

		</div><!-- /.masthead.segment -->
	</div><!-- /.pusher -->

