
	<section class="center">

<p>Who we are short summary to go here. lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lorem dignissim, hendrerit nisl vitae, scelerisque nisl. Curabitur sollicitudin nibh leo, id auctor est sodales non. Donec quis nisi varius, aliquet massa vel, vulputate diam. Integer volutpat est nisl, in feugiat mauris scelerisque et. Etiam ut auctor turpis. Vestibulum orci nulla, tristique vulputate fringilla eu, venenatis in leo. Etiam tincidunt egestas sem. Nulla posuere ligula nec urna viverra, ut aliquam erat posuere. Ut sodales rutrum turpis ac commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer commodo urna ipsum, non ultrices arcu vulputate sit amet. Ut ac viverra orci. Etiam interdum ultricies tincidunt. Donec vitae odio tellus.</p>

<div class="ui hidden divider"></div>

<h2 class="ui header">We Think Differently</h2>
<p>At BlueSky we push the margins of possibility to create ingenious solutions. We're digital pioneers who embrace curiosity, stay open to innovation and think differently. From apps to system integrations, websites and web applications, if you can imagine it, we can code it!</p>
<p><a class="ui large primary button" href="/services" title="">What We Do<i class="right chevron icon"></i></a></p>

	</section>

<div class="ui hidden divider"></div>

{% include 'body_con-testimonials.twig' %}

<div class="ui hidden divider"></div>

	<section class="center">

<h2 class="ui header">The Team at BlueSky</h2>
<p>Pellentesque nec faucibus odio. In hac habitasse platea dictumst. In efficitur elementum laoreet. Maecenas a scelerisque metus. Vestibulum facilisis vestibulum mi, sed tincidunt tellus. Sed ultricies ante sed sem gravida, eu iaculis elit placerat. Vestibulum quis vestibulum dui, eget semper nisl. Fusce fringilla enim sed lectus aliquet vulputate.</p>
<p><a class="ui large primary button" href="/about/team" title="">Meet The Team<i class="right chevron icon"></i></a></p>

	</section>

