
		<section id="con">
			<div class="emspace h80 ctop{% if _route._handler._app == "blog" and _route._method == "view" %} nodisp{% endif %}"></div>
			<div class="ui page grid">
				<div id="viw" class="ui container">

{% if item.is_home_page or _url.path == "/" %}
{% include 'body_hom.twig' %}
{% else %}
{% include 'body_sub.twig' %}
{% endif %}

					<div class="emspace h80 floatc"></div>
				</div><!-- /.ui.container -->
			</div><!--/.ui.page.grid -->
			<div class="emspace conspc floatc"></div>
		</section><!-- /#con -->

