
	<div class="ui large top fixed hidden menu">
		<div class="ui container">
			<a class="active item">Home</a>
			<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
			<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
			<div class="right menu">
				<div class="item"><a class="ui button primary" href="/_admin">Log in</a></div>
				<div class="item"><a class="ui button positive">Subscribe</a></div>
			</div>
		</div>
	</div><!-- /stickymenu -->

	<div class="ui vertical inverted sidebar menu">
		<a class="active item">Home</a>
		<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
		<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
		<a class="item" href="/_admin">Log in</a>
		<a class="item">Subscribe</a>
	</div><!-- /sidebarmenu -->



	<div class="pusher">
		<div class="ui inverted vertical masthead center aligned segment">

			<div class="ui container">
				<div class="ui large secondary inverted pointing menu">
					<a class="toc item"><i class="sidebar icon"></i></a>
					<a class="active item">Home</a>
					<a class="item" href="http://sidrablue.com.au/" target="_blank" rel="noopener noreferrer">Sidrablue</a>
					<a class="item" href="http://www.epicuest.com/" target="_blank" rel="noopener noreferrer">Epicuest</a>
					<div class="right item">
						<a class="ui inverted button" href="/_admin">Log in</a>
						<a class="ui inverted button positive">Subscribe</a>
					</div>
				</div><!-- /.menu -->
			</div><!-- /.ui.container -->
			<div class="ui text container">
				<h1 class="ui inverted header textshadow">BlueSky Digital Labs</h1>
				<h3 class="textshadow">innovating customised online solutions</h3>
				<div class="emspace h30"></div>
				<div class="ui huge button secondary">Contact us</div>
			</div><!-- /.ui.text.container -->

		</div><!-- /.masthead.segment -->
		<div class="ui vertical stripe segment">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="eight wide column">

<h3 class="ui header">We Help Companies and Companions</h3>
<p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
<h3 class="ui header">We Make Bananas That Can Dance</h3>
<p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>

				</div><!-- /.row -->
				<div class="six wide right floated column">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.7946661881874!2d115.92862421516162!3d-31.966466781224327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bbe934c7e529%3A0x8ac54ee4d6d4cacd!2s4%2F163+Wright+St%2C+Kewdale+WA+6105!5e0!3m2!1sen!2sau!4v1539827535149" width="99%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

				</div><!-- /.column -->
			</div><!-- /.container -->
		</div><!-- /.stripe.segment -->
	</div><!-- /.pusher -->

