<script>
	jQuery(function(){
		jQuery('#btn_submit').click(function () {
			jQuery('#webcontact').trigger('submit');
		});
		jQuery('#phone,#email').keyup(function () {
			jQuery('#email_error').html('');
			var phone = jQuery('#phone').val();
			var email = jQuery('#email').val();
			if(phone && email){
				jQuery('#contactpreference').show();
			}else{
				jQuery('#contactpreference').hide();
			}
		});
		jQuery('#webcontact').off('submit').submit(function (e) {
			e.preventDefault();
			var formData = new FormData();
			formData = getFormElements(formData);
			jQuery.ajax({
				url: '{{ _url.base }}contact/validate.json',
				method: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function (json) {
					if (json.success) {
						window.location.href = ('{{ _url.base }}contact/thank-you');
						gtag('event','Form Submission',{'event_category':'Contact page','event_label':'Success'});
					}
					else {
						jQuery('#webcontact').addClass('error');
						jQuery('.custom_err').hide();
						//jQuery('.fermsg').addClass('error');
						jQuery('.mand').removeClass('error');
						for (var f in json.errors) {
							if (f == '_custom') {
								setCfErrors(json.errors[f]);
							}
							else {
								jQuery('.cust_'+f).show();
								jQuery('#' + f + '_error').html(json.errors[f][0]).parent().addClass('error');
							}
						}
					}
				},
				error: function (request, status, error) {
					if (request.status) {
						alert('Error: ' + request.status + '\n' + request.statusText);
					}
				}
			});
			return false;
		});
	});
	function getFormElements(formData) {
		formData.append('lastname', jQuery("#lastname").val());
		var phone = jQuery('#phone').val();
		var email = jQuery('#email').val();
		formData.append('phone', phone);
		formData.append('email', email);
		formData.append('about', jQuery("#about").val() || []);
		formData.append('comments', jQuery("#comments").val());
		formData.append('is_mailing', getCheckboxBoolean('mailinglist'));
		if(phone && email){
			var radioValue = jQuery("input[name='contactpref']:checked"). val();
			if(radioValue){
				formData.append('contact_preference', radioValue);
			}else{
				formData.append('contact_preference', '');
			}
		}else{
			formData.append('contact_preference', '');
		}

		return formData;
	}
	function getCheckboxBoolean(checkboxFieldId) {
		var result = '0';
		var field = $('#'+checkboxFieldId);
		if(field && $(field).is(":checked")) {
			result = '1';
		}
		return result;
	}
</script>
<div class="emspace h20 floatc"></div>

<form id="webcontact" class="ui form">

	<div class="ui error message">
		<div class="header">There are errors in the form</div>
		<p style="display: none;" class="custom_err cust_lastname">Please enter all details that are required, as marked by the *</p>
		<p style="display: none;" class="custom_err cust_email">You need to include either a phone number or email address</p>
		<p style="display: none;" class="custom_err cust_contact_preference">Please choose your preferred means of contact</p>
	</div>

	<div class="field">
		<label>Your full name *</label>
		<div class="field mand">
			<input type="text" name="lastname" id="lastname" placeholder="Your full name *">
			<div class="fermsg" id="lastname_error"></div>
		</div>
	</div>

	<div class="field">
		<label>Your contact phone and/or email address *</label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="phone" id="phone" placeholder="Mobile or phone number">
				<div class="fermsg" id="phone_error"></div>
			</div>
			<div class="field">
				<input type="text" name="email" id="email" placeholder="Email address">
			</div>
		</div>
		<div class="fermsg" id="email_error"></div>
	</div>

	<div id="contactpreference" class="inline fields" style="display:none;">
		<label for="contactpref">Contact preference:</label>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="contactpref" id="pref_phone" class="hidden" value="phone">
				<label>Phone</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="contactpref" id="pref_email" class="hidden" value="email">
				<label>Email address</label>
			</div>
		</div>
		<div class="fermsg" id="contact_preference_error"></div>
	</div>

	<div class="field">
		<label for="about">Any of the following specific topics you wish to enquire about?</label>
		<select id="about" name="about" class="ui search dropdown" multiple="multiple">
			<option value="">You can select more than one</option>
			<option value="Start-up Development">Start-up Development</option>
			<option value="System Integration">System Integration</option>
			<option value="App Development">App Development</option>
			<option value="Data Science">Data Science</option>
			<option value="Custom Web Development">Custom Web Development</option>
			<option value="Exploring Ideas">Exploring Ideas</option>
			<option value="Other">Other</option>
		</select>
		<div class="fermsg" id="about_error"></div>
	</div>

	<div class="field">
		<label for="comments">Your message or comments</label>
		<textarea id="comments" name=""></textarea>
		<div class="fermsg" id="comments_error"></div>
	</div>

	<div class="field">
		<div class="ui toggle checkbox">
			<input type="checkbox" name="mailinglist" id="mailinglist" class="hidden">
			<label for="mailinglist">Be included in our mailing list</label>
			<div class="fermsg" id="mailinglist_error"></div>
		</div>
	</div>

	<div class="emspace h20 floatc"></div>
	<a href="javascript:;" class="ui primary large button btn" id="btn_submit">Contact BlueSky <i class="right chevron icon"></i></a>

	<div class="ui hidden divider"></div>
	<h4 class="ui horizontal divider header nomargin"><i class="map signs icon"></i></h4>

	<section class="center">
		<h3 class="ui header">Location</h3>
		<p>We are located upstairs at <a href="https://goo.gl/maps/boRQVaRFVb52" target="_blank" rel="noopener noreferrer" title="">163 Wright St</a> in Kewdale, Belmont. Click below to navigate in Google Maps.</p>
		<div class="ui embed" data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3384.7946661881874!2d115.92862421516162!3d-31.966466781224327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32bbe7f58e5267%3A0xec76fd480db8c07e!2sBlueSky+Digital+Labs!5e0!3m2!1sen!2sau!4v1545356019972" data-placeholder="/app/website/bluesky/img/_ui/map.jpg" data-icon="map marker alternate" onclick="gtag('event','Google Map',{'event_category':'Contact page','event_label':'View Map'});"></div>
<!--{#
		<div class="emspace h20 floatc"></div>
		<p>Getting in to our office</p>
		<div class="ui embed" data-url="https://www.youtube.com/watch?v=RbSQgSU5_WU" data-placeholder="https://img.youtube.com/vi/RbSQgSU5_WU/maxresdefault.jpg" data-icon="play circle" onclick="gtag('event','Video',{'event_category':'Contact page','event_label':'View Video'});"></div>
#}-->
	</section>


</form>

