
<div class="emspace h20 floatc"></div>

<div class="ui three top attached unstackable small steps brief">

	<div class="active step" data-tab="tab1">
		<i class="truck icon"></i>
		<div class="content">
			<div class="title">Contact</div>
			<div class="description">How to get in touch with you</div>
		</div>
	</div>
	<div class="step" data-tab="tab2">
		<i class="payment icon"></i>
		<div class="content">
			<div class="title">Brief</div>
			<div class="description">Details of your idea or project</div>
		</div>
	</div>
	<div class="step" data-tab="tab3">
		<i class="info icon"></i>
		<div class="content">
			<div class="title">Confirm</div>
			<div class="description">Verify and submit your brief to BlueSky</div>
		</div>
	</div>

</div>

<div class="ui attached active tab segment form" data-tab="tab1">

		<div class="field">
			<label>Your name</label>
			<div class="three fields">
				<div class="field">
					<input type="text" name="firstname" placeholder="First name *">
				</div>
				<div class="field">
					<input type="text" name="middlename" placeholder="Middle name">
				</div>
				<div class="field">
					<input type="text" name="lastname" placeholder="Last name *">
				</div>
			</div>
		</div>

		<div class="field">
			<label>Your contact phone and email address</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="phone" placeholder="Mobile or phone number">
				</div>
				<div class="field">
					<input type="text" name="email" placeholder="Email address *">
				</div>
			</div>
		</div>


</div>
<div class="ui attached tab segment form" data-tab="tab2">

	<div class="field">
		<label>Project summary</label>
		<textarea></textarea>
	</div>

	<div class="field">
		<label>Upload a file</label>
		<input type="file" id="" name="" value="" />
	</div>

</div>
<div class="ui attached tab segment" data-tab="tab3">

	<p>3</p>

</div>

