
<h2 class="ui header centered">
	What clients say about us
	<span class="sub header">Read what some of clients we have worked with over the years, think about us.</span>
</h2>

<div class="ui hidden divider"></div>

<section id="testimonials">
	<div class="ui cards">

{% for s in item.content_links %}

		<div class="card">
			<div class="content">
				<div class="header">{{ s.title }}</div>
				<div class="meta">{{ s.content|raw }}</div>
				<div class="description">
{{ s.description|raw }}
				</div><!-- /.description -->
			</div><!-- /.content -->
			<a class="ui bottom attached button" href="{{ s.summary }}"><i class="file alternate outline icon"></i> View case study</a>
		</div><!-- /.ui.card -->

{% endfor %}

	</div><!-- /.ui.cards -->

</section><!-- /#testimonials -->
<div class="emspace h20 floatc"></div>

