
		<footer id="fot" class="ui tiny inverted vertical footer segment">
			<div class="ui container">
				<div class="emspace h40"></div>

				<div class="ui stackable inverted divided equal height stackable grid">

					<div class="four wide column">
						<h4 class="ui inverted header">About</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Sitemap</a>
							<a href="#" class="item">Contact Us</a>
							<a href="#" class="item">Religious Ceremonies</a>
							<a href="#" class="item">Gazebo Plans</a>
						</div>
					</div>

					<div class="four wide column">
						<h4 class="ui inverted header">Services</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Banana Pre-Order</a>
							<a href="#" class="item">DNA FAQ</a>
							<a href="#" class="item">How To Access</a>
							<a href="#" class="item">Favorite X-Men</a>
						</div>
					</div>

					<div class="eight wide column">
						<h4 class="ui inverted header">Footer Header</h4>
						<p>Extra space for a call to action inside the footer that could help re-engage users.</p>
					</div>

				</div><!-- /.ui.stackable.inverted.divided.equal.height.stackable.grid -->

				<div class="emspace h20 floatc"></div>
			</div><!-- /.ui.container -->
			<div class="ui container center">
				<div class="emspace h40"></div>

				<nav id="fnav">

<span>&copy; 2018{% if "now"|date('Y') != 2018 %} - {{ "now"|date('Y') }}{% endif %} BlueSky Digital Labs</span>
{% set copy = buildNav(2) %}
{% for c in copy %}
{% if c.is_navigation %}
<span class="pipe">|</span>
<a href="{{ c._url }}" title="{{ c.title }}"{% if c.lote_link_type=="cms_link_external" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ c.title }}</a>
{% endif %}
{% endfor %}

				</nav><!-- /#fnav -->

				<div class="emspace h20 floatc"></div>

				<nav id="socnav">

<a class="item" href="https://www.linkedin.com/company/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on LinkedIn"><i class="linkedin icon big" aria-label="LinkedIn"></i></a>
<a class="item" href="https://www.facebook.com/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on Instagram"><i class="instagram icon big" aria-label="Instagram"></i></a>
<a class="item" href="https://www.instagram.com/blueskylabs" target="_blank" rel="noopener noreferrer" title="BlueSky on FaceBook"><i class="facebook icon big" aria-label="Facebook"></i></a>
<a class="item" href="https://twitter.com/bluesky_labs" target="_blank" rel="noopener noreferrer" title="BlueSky on Twitter"><i class="twitter icon big" aria-label="Twitter"></i></a>

				</nav><!-- /#socnav -->

				<div class="emspace h20 floatc"></div>
			</div><!-- /.ui.container -->

		</footer><!-- /#fot -->


