
		<footer id="fot" class="ui inverted vertical footer segment">
			<div class="ui container">
				<div class="ui stackable inverted divided equal height stackable grid">
					<div class="three wide column">
						<h4 class="ui inverted header">About</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Sitemap</a>
							<a href="#" class="item">Contact Us</a>
							<a href="#" class="item">Religious Ceremonies</a>
							<a href="#" class="item">Gazebo Plans</a>
						</div>
					</div>
					<div class="three wide column">
						<h4 class="ui inverted header">Services</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">Banana Pre-Order</a>
							<a href="#" class="item">DNA FAQ</a>
							<a href="#" class="item">How To Access</a>
							<a href="#" class="item">Favorite X-Men</a>
						</div>
					</div>
					<div class="seven wide column">
						<h4 class="ui inverted header">Footer Header</h4>
						<p>Extra space for a call to action inside the footer that could help re-engage users.</p>
					</div>
				</div>
			</div>
		</footer>






<!--{#
<span>&copy; 2018{% if "now"|date('Y') != 2018 %} - {{ "now"|date('Y') }}{% endif %} BlueSky Digital Labs.</span>
<span class="pipe">|</span>
{% set copy = buildNav(2) %}
{% for c in copy %}
{% if c.is_navigation %}
<a href="{{ c._url }}" title="{{ c.title }}"{% if c.lote_link_type=="cms_link_external" %} target="_blank" rel="noopener noreferrer"{% endif %}>{{ c.title }}</a>
{% if not loop.last %}
<span class="pipe">|</span>
{% endif %}
{% endif %}
{% endfor %}
#}-->

