<footer id="fot" class="ui inverted tiny vertical footer segment">
    <section class="fotwrp">

        <div class="ui container">

            <div class="emspace h20 floatc"></div>
        </div><!-- /.ui.container -->

    </section><!-- /.fotwrp -->
</footer><!-- /#fot -->


