
<div class="ui icon warning message">
	<i class="exclamation triangle icon"></i>
	<div class="content">

{% set err = getContent(1) %}
<div class="header">{{ err.title }}</div>
{{ renderContent(err.content)|raw }}
{% if err.description %}
{{ renderContent(err.description)|raw }}
{% endif %}

	</div><!-- /.content -->
</div><!-- /.ui.icon.warning.message -->

