
{% set cb = getContent(10) %}

<section class="w480 center">

{{ renderContent(cb.content)|raw }}

{% if cb.description %}
{{ renderContent(cb.description)|raw }}
{% endif %}

</section><!-- /.center -->

