
/* bluesky digital labs */
#ov {display:none;position:fixed;left:40px;bottom:40px;z-index:29999;width:134px;height:auto;padding:14px;color:#fff;background:#09c;border:1px solid #016789;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0.9;-ms-filter:'alpha(opacity=90)';filter:alpha(opacity=90);}

.emspace {font:10px/10px arial;height:10px;margin:0!important;padding:0!important;overflow:hidden;} .floatc {clear:both;} .floatl {float:left;} .floatr {float:right;} .nodisp{display:none;} .pl{position:absolute;top:0;left:0;height:1px;overflow:hidden;display:none;} .nomp{margin:0;padding:0;} .ovhide{overflow:hidden;} .toupper { text-transform: uppercase; } .tolower { text-transform: lowercase; }

.emspace.h0 {height:0px;} .emspace.h1 {height:1px;} .emspace.h5 {height:5px;} .emspace.h20 {height:20px;} .emspace.h30 {height:30px;} .emspace.h40 {height:40px;} .emspace.h50 {height:50px;} .emspace.h60 {height:60px;} .emspace.h70 {height:70px;} .emspace.h80 {height:80px;} .emspace.h90 {height:90px;}
.emspace.h0, .emspace.h1, .emspace.h5 {font-size:10px;padding:0;}

.center { text-align: center; } .tright { text-align: right; } .tleft { text-align: left; } .ll { width: 48%; float: left; } .rr { width: 48%; float: right; }
.colwrp { width: 100%; overflow: hidden; } .coltwo, .coltre, .colfor, .colfiv, .colsix { float: left; } .coltwo { width: 49%; margin-right: 1%; } .coltre { width: 33%; } .coltre.mid { width: 34%; } .coltre.dbl { width: 66%; } .colfor { width: 25%; } .colfor.dbl { width: 50%; } .colfiv { width: 20%; } .colsix { width: 16.66%; }
.coltwo.floatr, .coltre.floatr, .colfor.floatr, .colfiv.floatr, .colsix.floatr { float: right; margin-right: 0; }
.colwrp.inline .coltwo, .colwrp.inline .coltre, .colwrp.inline .colfor, .colwrp.inline .colfiv, .colwrp.inline .colsix { float: none; display: inline-block; vertical-align: top; }
.colwrp .wrp { width: auto; padding: 10px; }

.mob { display: none; }
img.resp, .usrcon img { max-width: 100%; height: auto; } @media \0screen { img.resp, .usrcon img { width: auto; /* for ie 8 */ } }

a.url, .url { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.em-code-direction { unicode-bidi:bidi-override;direction:rtl; }

@media all { .pagebreak { display: none; } }
@media print { .pagebreak { display: block; page-break-before: always; } }

.noboxshadow, .fom .radiof input, .fom .radiof input:focus { -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.bottomshadow { -webkit-box-shadow: 0 15px 10px -15px rgba(204,204,204,1); -moz-box-shadow: 0 15px 10px -15px rgba(204,204,204,1); box-shadow: 0 15px 10px -15px rgba(204,204,204,1); }
.fullshadow { -webkit-box-shadow: 0 0 7px 0 rgba(204,204,204,1); -moz-box-shadow: 0 0 7px 0 rgba(204,204,204,1); box-shadow: 0 0 7px 0 rgba(204,204,204,1); }
.textshadow { text-shadow: 1px 1px 1px rgba(0,0,0, 1); }
.textshadow .svg-inline--fa { filter: drop-shadow(1px 1px 1px #000); }

.vmiddle { position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); }
.img-circle { border-radius: 50%; border-radius: 50% !important; }

.inline { display: inline-block; }
.italic { font-style: italic; }
.display_table { display: table; margin: 0 auto; }
.display_table * { vertical-align: middle; }
.underline { text-decoration: underline; }
.nopadding, .nopad { margin: 0; padding: 0; }
.nopadtop, .nopad-top { padding-top: 0; }
.nopadbot, .nopad-bottom { padding-bottom: 0; }
.padright { padding-right: 7px; }
.padleft { padding-left: 7px; }
.blocklinks a, .blocklinks span { display: block; }
.image_left { float: left; margin: 0 20px 20px 0; }
.image_right { float: right; margin: 0 20px 20px; text-align: right; }

a[href="javascript:;"].activate { cursor: pointer; }
.chidden { display: none; }

.vidplaywrp { position: relative; }
.vidplayimg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent url(../img/_ui/_vidplay.png) center no-repeat; cursor: pointer; }
.vidplayimg a { width: 100%; height: 100%; display: block; }

.soc {  }
.soc .btn.socfb { background-color: #3e5c98; }
.soc .btn.soctw { background-color: #20a1f2; }
.soc .btn.socpt { background-color: #bd081c; }
.soc .btn.socgg { background-color: #e53935 }
.soc .btn.soclk { background-color: #0077b5; }

.bgcover { -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover; }

.fontsize12 { font-size: 12px; }
.fontsize14 { font-size: 14px; }
.fontsize16 { font-size: 16px; }
.fontsize18 { font-size: 18px; }
.fontsize21 { font-size: 21px; }
.fontsize24 { font-size: 24px; }
.fontsize28 { font-size: 28px; }
.fontsize32 { font-size: 32px; }
.fontsize48 { font-size: 48px; }

.fontweight300 { font-weight: 300; }
.fontweight400 { font-weight: 400; }
.fontweight500 { font-weight: 500; }
.fontweight600/*, strong, b*/ { font-weight: 600; }
.fontweight700 { font-weight: 700; }
.fontweight900 { font-weight: 900; }

.w480, .w540, .w640, .w740, .w840, .w960 { margin: 0 auto; }
.w480 { width: 480px; }
.w540 { width: 540px; }
.w640 { width: 640px; }
.w740 { width: 740px; }
.w840 { width: 840px; }
.w960 { width: 960px; }












/* semantic UI overwrites  */
html, body { font-size: 18px; }
.ui.button, .ui.cards { font-size: 14px; }












/* site */
#backtotop { /*display: none;*/ position: fixed; bottom: -130px; right: -130px; width: 102px; height: 116px; padding: 14px 0 0 21px; font-size: 40px; line-height: 100%; color: #fff; cursor: pointer; border-radius: 50%; border-radius: 50% !important;

	color: #fff;
	background-color: #031c43;
}
#backtotop.tada { bottom: -58px; right: -48px; }

.nlll { float: left; width: 7.5%; padding: 0; font-size: 24px; line-height: 100%; text-align: right; text-transform: uppercase; }
.nlrr { float: right; width: 90%; padding-left: 2%; border-left: 1px solid #000; }
@media only screen and (max-width: 1024px) { .nlll { width: 8.5%; } .nlrr { width: 88%; } }
@media only screen and (max-width: 840px) { .nlll { font-size: 28px; } }
@media only screen and (max-width: 767px) { .nlll { font-size: 24px; width: 10%; padding-right: 1.5%; } .nlrr { width: 86%; } }
@media only screen and (max-width: 480px) { .nlll { font-size: 16px; } }
@media only screen and (max-width: 414px) { .nlll, .nlrr { float: none; display: block; width: 100%; padding: 0; border: 0; text-align: center; } .nlll { border-bottom: 1px solid #000; padding: 7px 0; } }



#hed {  }
#con { min-height: 480px; height: auto !important; height: 480px; }
#fot {	}




.hidden.menu { display: none; }
#mnav { border: 0; }
#mnav .toc.item, #xnav .toc.item { display: none; }



.masthead h1.ui.header { font-size: 4em; font-weight: normal; }
.masthead h2 { font-size: 1.7em; font-weight: normal; }
.ui.masthead.segment { background: url(../img/tmp/creative-developer.jpg) center bottom no-repeat; -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover; border: 0; min-height: 640px; height: auto !important; height: 640px; }

.sub .masthead h1.ui.header { font-size: 3em }
.sub .ui.masthead.segment { min-height: 340px; height: auto !important; height: 340px; }



#fnav .pipe { padding: 0 7px; }
#socnav .item { padding: .92857143em; }



small.small60 { font-size: 60%; }
.ui.header span, .ui.header small { display: block; }

.content { margin: 0 0 1em; }
















/*** anim ***/
.resp, .wrp, .ll, .rr, #backtotop {
	-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
.cycle-slideshow .resp {
	-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none;
}






/*** responsive ***/
@media only screen and (max-width: 2560px) {



}
@media only screen and (max-width: 1920px) {



}
@media only screen and (max-width: 1680px) {



}
@media only screen and (max-width: 1600px) { /*google+material*/



}
@media only screen and (max-width: 1440px) { /*google+material*/



}
@media only screen and (max-width: 1400px) {



}
@media only screen and (max-width: 1366px) {



}
@media only screen and (max-width: 1280px) { /*google+material*/



}
@media only screen and (max-width: 1200px) {

.ui.secondary.pointing.menu .item { padding: .85714286em 11px; }

}
@media only screen and (max-width: 1097px) {



}
@media only screen and (max-width: 1024px) { /*google+material*/



}
@media only screen and (max-width: 1023px) {

.w960 { width: 100%; }



}
@media only screen and (max-width: 991px) { /* bootstrap */

#mnav .item, #xnav .item { display: none; }
#mnav .toc.item, #xnav .toc.item,  #mnav .item.logo,  #xnav .item.logo { display: block; }
.ui.visible.uncover.sidebar { z-index: 999; }
.masthead h1.ui.header { font-size: 2em; }
.masthead h2 { font-size: 1.5em; }

#pnav { width: 80%; }
#pnav.ui.stackable.menu { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
#pnav.ui.stackable.menu .item { width: 100% !important; }
#pnav.ui.stackable.menu .item:before { position: absolute; content: ''; top: auto; bottom: 0px; left: 0px; width: 100%; height: 1px; background: rgba(34, 36, 38, 0.1); }



}
@media only screen and (max-width: 960px) { /*google+material*/



}
@media only screen and (max-width: 900px) {

.w840 { width: 100%; }

}
@media only screen and (max-width: 840px) { /*google+material*/



}
@media only screen and (max-width: 800px) {

.w740 { width: 100%; }

}
@media only screen and (max-width: 768px) {



}
@media only screen and (max-width: 767px) {

.dsk { display: none; }
.mob { display: block; }

html, .bod, #con, .ui.form .field > label { font-size: 16px; }
.ui.massive.segment, .ui.massive.segments .segment { font-size: 1.3em; }
.ui.large.segment, .ui.large.segments .segment { font-size: 1.1em; }

.fontsize14 { font-size: 12px; }
.fontsize16 { font-size: 14px; }
.fontsize18 { font-size: 16px; }
.fontsize21 { font-size: 18px; }
.fontsize24 { font-size: 22px; }
.fontsize28 { font-size: 24px; }
.fontsize32 { font-size: 28px; }
.fontsize48 { font-size: 38px; }

}
@media only screen and (max-width: 736px) {



}
@media only screen and (max-width: 720px) { /*google+material*/



}
@media only screen and (max-width: 667px) {

.w640 { width: 100%; }

.ll, .rr, .coltwo, .coltre, .coltre.mid, .coltre.dbl, .colfor, .colfor.dbl, .colfiv, .colsix { width: 100%; float: none; display: block; }
.rr, .coltwo.floatr, .coltre.floatr, .colfor.floatr, .colfiv.floatr, .colsix.floatr { float: none; }
.coltwo, .coltre, .coltre.mid, .coltre.dbl, .colfor, .colfor.dbl, .colfiv, .colsix, .rr.tright, .coltre.tright, .colfor.tright, .colfiv.tright { text-align: center; }

}
@media only screen and (max-width: 640px) { /*640x360androids*/

.w540 { width: 100%; }

}
@media only screen and (max-width: 600px) { /*google+material*/



}
@media only screen and (max-width: 599px) {



.w480 { width: 100%; }

}
@media only screen and (max-width: 480px) { /*google+material*/



}
@media only screen and (max-width: 414px) {



.fwrp input:not(.btn), .fwrp textarea { width: 90%; }
input.btn, a.btn { width: auto; padding: 0 20px; display: inline-block; }
.fom .radiof input, .fom .radiof label { float: left; }
.fom .radiof input { width: 16px; }
.fom .radiof label { width: 90%; }

}
@media only screen and (max-width: 375px) {




}
@media only screen and (max-width: 374px) {



}
@media only screen and (max-width: 360px) { /*google+material*/



}
@media only screen and (max-width: 320px) {



}












/*** print styles ***/
@media print {

* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
a, a:visited { text-decoration: underline; }
/*a[href]:after { content: " (" attr(href) ")"; }*/
/*abbr[title]:after { content: " (" attr(title) ")"; }*/
/*.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }*/  /* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* h5bp.com/t */
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }



.hideinprint, #ov, #backtotop, #mnav, #hero, .nlll
{ display: none; }



}

