
/* bluesky digital labs */
#ov {display:none;position:fixed;left:40px;bottom:40px;z-index:29999;width:134px;height:auto;padding:14px;color:#fff;background:#09c;border:1px solid #016789;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;opacity:0.9;-ms-filter:'alpha(opacity=90)';filter:alpha(opacity=90);}

.emspace {font:10px/10px arial;height:10px;margin:0!important;padding:0!important;overflow:hidden;} .floatc {clear:both;} .floatl {float:left;} .floatr {float:right;} .nodisp{display:none;} .pl{position:absolute;top:0;left:0;height:1px;overflow:hidden;display:none;} .nomp{margin:0;padding:0;} .ovhide{overflow:hidden;} .toupper { text-transform: uppercase; } .tolower { text-transform: lowercase; }

.emspace.h0 {height:0px;} .emspace.h1 {height:1px;} .emspace.h5 {height:5px;} .emspace.h20 {height:20px;} .emspace.h30 {height:30px;} .emspace.h40 {height:40px;} .emspace.h50 {height:50px;} .emspace.h60 {height:60px;} .emspace.h70 {height:70px;} .emspace.h80 {height:80px;} .emspace.h90 {height:90px;}
.emspace.h0, .emspace.h1, .emspace.h5 {font-size:10px;padding:0;}

.center { text-align: center; } .tright { text-align: right; } .tleft { text-align: left; } .ll { width: 48%; float: left; } .rr { width: 48%; float: right; }
.colwrp { width: 100%; overflow: hidden; } .coltwo, .coltre, .colfor, .colfiv, .colsix { float: left; } .coltwo { width: 49%; margin-right: 1%; } .coltre { width: 33%; } .coltre.mid { width: 34%; } .coltre.dbl { width: 66%; } .colfor { width: 25%; } .colfor.dbl { width: 50%; } .colfiv { width: 20%; } .colsix { width: 16.66%; }
.coltwo.floatr, .coltre.floatr, .colfor.floatr, .colfiv.floatr, .colsix.floatr { float: right; margin-right: 0; }
.colwrp.inline .coltwo, .colwrp.inline .coltre, .colwrp.inline .colfor, .colwrp.inline .colfiv, .colwrp.inline .colsix { float: none; display: inline-block; vertical-align: top; }
.colwrp .wrp { width: auto; padding: 10px; }

.mob { display: none; }
img.resp, .usrcon img { max-width: 100%; height: auto; } @media \0screen { img.resp, .usrcon img { width: auto; /* for ie 8 */ } }

a.url, .url { -ms-word-break: break-all; word-break: break-all; word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; }
.em-code-direction { unicode-bidi:bidi-override;direction:rtl; }

@media all { .pagebreak { display: none; } }
@media print { .pagebreak { display: block; page-break-before: always; } }

.noboxshadow, .fom .radiof input, .fom .radiof input:focus { -webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none; }
.bottomshadow { -webkit-box-shadow: 0 15px 10px -15px rgba(204,204,204,1); -moz-box-shadow: 0 15px 10px -15px rgba(204,204,204,1); box-shadow: 0 15px 10px -15px rgba(204,204,204,1); }
.fullshadow { -webkit-box-shadow: 0 0 7px 0 rgba(204,204,204,1); -moz-box-shadow: 0 0 7px 0 rgba(204,204,204,1); box-shadow: 0 0 7px 0 rgba(204,204,204,1); }
.textshadow { text-shadow: 1px 1px 1px rgba(0,0,0, 1); }
.textshadow .svg-inline--fa { filter: drop-shadow(1px 1px 1px #000); }

.vmiddle { position: absolute; top: 50%; left: 0; right: 0; transform: translateY(-50%); }
.img-circle { border-radius: 50%; border-radius: 50% !important; }

.inline { display: inline-block; }
.italic { font-style: italic; }
.display_table { display: table; margin: 0 auto; }
.display_table * { vertical-align: middle; }
.underline { text-decoration: underline; }
.nopadding, .nopad { margin: 0; padding: 0; }
.blocklinks a, .blocklinks span { display: block; }

a[href="javascript:;"].activate { cursor: pointer; }
.chidden { display: none; }

.vidplaywrp { position: relative; }
.vidplayimg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent url(../img/_ui/_vidplay.png) center no-repeat; cursor: pointer; }
.vidplayimg a { width: 100%; height: 100%; display: block; }

.bgcover { -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover; }

.fontsize12 { font-size: 12px; }
.fontsize14 { font-size: 14px; }
.fontsize16 { font-size: 16px; }
.fontsize18 { font-size: 18px; }
.fontsize21 { font-size: 21px; }
.fontsize24 { font-size: 24px; }
.fontsize28 { font-size: 28px; }
.fontsize32 { font-size: 32px; }
.fontsize48 { font-size: 48px; }

.fontweight300 { font-weight: 300; }
.fontweight400 { font-weight: 400; }
.fontweight500 { font-weight: 500; }
.fontweight600/*, strong, b*/ { font-weight: 600; }
.fontweight700 { font-weight: 700; }
.fontweight900 { font-weight: 900; }

.w480, .w540, .w640, .w740, .w840, .w960 { margin: 0 auto; }
.w480 { width: 480px; }
.w540 { width: 540px; }
.w640 { width: 640px; }
.w740 { width: 740px; }
.w840 { width: 840px; }
.w960 { width: 960px; }






/* colout schemes */
#fot a.addrlnk, #socnav .ui.icon.button:hover { color: #fff; }
#snav .header.item.logo, #socnav .ui.icon.button { background-color: #fff; }

a, #socnav .ui.icon.button { color: #4662cd; }
#socnav .ui.icon.button:hover { background-color: #4662cd; }

body, .masthead h1.ui.header .sub.header, .ui.header { color: #3f3f41; }
#fot.ui.inverted.segment/*, .ui.masthead.segment*/ { background: #333; }



#socnav a.item { color: #ccc; }








/* semantic UI overwrites  */
html, body, .ui.shape .ui.card { font-size: 17px; }
.ui.button, .ui.card, .ui.cards { font-size: 14px; }
.ui.card .meta, .ui.cards > .card .meta { font-size: .9em; line-height: 120%; padding: 5px 0; }
a.ui.button { margin-bottom: 0.75em; }
h2.ui.header .sub.header { font-size: 1rem; padding-top: 7px; }
.ui.piled.segment, .ui.piled.segments { padding: 1.8em; }

.ui.card .description, .ui.cards .description { line-height: 140%; }
.ui.card .card.tiny, .ui.cards .card.tiny { font-size: 12px; }

.ui.menu .item > i.icon.nomarginright { margin-right: 0; }
.ui.items > .item.nomargin { margin: 0; }
.ui.header.hwsicon > .icon { font-size: 1em; }
.ui.header.hwsicon .icon:only-child { margin-top: -4px; margin-right: 4px; }
.ui.horizontal.divider.header.nomargin .icon { margin-right: 0; }












/* site */
#backtotop { /*display: none;*/ position: fixed; bottom: -64px; right: 14px; /*width: 30px; height: 29px;*/ margin: 0; padding: 7px; font-size: 21px; line-height: 100%; cursor: pointer;

	overflow: hidden;
}
#backtotop.tada { bottom: 14px; }




#hed {  }
#con { min-height: 480px; height: auto !important; height: 480px; }
#fot {	}




.hidden.menu { display: none; }
#mnav { border: 0; }
#mnav .toc.item, #xnav .toc.item { display: none; }
#xnav .item, #mnav .item { font-weight: bold; }
#mnav .item, .ui.masthead .ui.header { font-weight: bold; }
#xnav.ui.menu .item > img:not(.ui) { width: 6em; }
#mnav.ui.menu .item > img:not(.ui) { width: 8em; }
#mnav.ui.secondary.pointing.menu .item.logo { padding: 0; position: relative; top: -9px; }
#mnav.ui.secondary.pointing.menu .item.logo.active { border: none; }

.masthead h1.ui.header { font-size: 4em; font-weight: normal; }
.masthead h1.ui.header .sub.header { font-size: 2rem; font-weight: bold; /*color: rgba(255,255,255,1);*/ }
.masthead h1.ui.header .ui.image { margin: 0 auto; }
.masthead h1.ui.header .ui.image.big { width: 520px; }
.masthead h1.ui.header .ui.image.medium { width: 300px; }
.masthead h1.ui.header .ui.image.small { width: 160px; }
.ui.masthead.segment { min-height: 1080px; height: auto !important; height: 1080px; /*640*/ border: 0; }

.ui.masthead.segment .homhero { max-height: 760px; margin: 0 auto; }

/*.sub .masthead h1.ui.header .sub.header { font-size: 3.4rem; line-height: 100%; }*/
.sub .masthead h1.ui.header { font-size: 2.4em; }
.sub .ui.masthead.segment { min-height: 240px; height: auto !important; height: 240px; }
.sub .masthead .ui.grid { text-align: right; }
.sub .masthead .ui.grid .subhero .ui.image { /*float: right;*/ /*margin: 0 auto;*/ }

.sub .vmiddle.nohero { top: 70%; transform: translateY(-70%); }



#fnav .pipe { padding: 0 7px; }
#socnav .item { margin: 0 2px; }



small.small60 { font-size: 60%; }
.ui.header span, .ui.header small { display: block; }

#postreadcount.ui.mini.labeled.active.button:hover * { cursor: default; }
#postreadcount.ui.mini.labeled.active.button:hover .ui.icon.button { color: rgba(0,0,0,.6); background-color: #e0e1e2; opacity: 1; }

.postside .items { font-size: 14px; }

.ui.card.casestudies { float: right; margin: 0 0 20px 40px; }
.card .content .header.spnav { padding-top: 7px; }



#testimonials .shape { display: flex; justify-content: center; align-items: center; align-content: center; flex-wrap: wrap; }
#testimonials .ui.card { width: 540px; margin: 0 auto; padding: 14px 0 0 0;

	height: 440px;
}
#testimonials .ui.card .content .description { padding: 0 30px 14px 30px; }



.blockquote i.icon { font-size: 1.7em; }
.blockquote p { font-weight: bold; font-size: 1.7em; line-height: 120%; text-align: center; margin: 0; padding: 14px; }



#stview .ui.header .ui.image, #stview .ui.header .sub.header, #stview .ui.divider.afterheader { display: none; }
#stview .ui.header > .image + .content, .ui.header > img + .content { padding-left: 0; }



.ui.cards.noborder { font-size: 16px; }
.ui.cards.noborder *, .ui.cards.noborder a.card:hover * { border: none !important; -webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important; }
.ui.cards.noborder .image img { -webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px; }
.ui.cards.noborder > .card > .content { padding: 1em 0; }
.ui.cards.noborder.centered * { text-align: center; }











/* presentation */
.presentation { background: #333; }
.presentation #con {
	min-height: 640px;
	height: auto !important;
	height: 640px;
}


















/*** anim ***/
.resp, .wrp, .ll, .rr, #backtotop, .ui.masthead.segment {
	-webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s;
}
.cycle-slideshow .resp {
	-webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none;
}






/*** responsive ***/
@media only screen and (max-width: 2560px) {



}
@media only screen and (max-width: 1920px) {



}
@media only screen and (max-width: 1680px) {



}
@media only screen and (max-width: 1600px) { /*google+material*/



}
@media only screen and (max-width: 1440px) { /*google+material*/



}
@media only screen and (max-width: 1400px) {



}
@media only screen and (max-width: 1366px) {



}
@media only screen and (max-width: 1280px) { /*google+material*/



}
@media only screen and (max-width: 1200px) {

.ui.secondary.pointing.menu .item { padding: .85714286em 11px; }

}
@media only screen and (max-width: 1097px) {

#xnav .ui.container.nav .menu .item { font-size: 16px; }

}
@media only screen and (max-width: 1024px) { /*google+material*/



}
@media only screen and (max-width: 1023px) {

.w960 { width: 100%; }



}
@media only screen and (max-width: 991px) { /* bootstrap */

#viw.ui.container, .ui.container.nav { width: 92%; }
.ui.five.doubling.cards > .card { width: calc(25% - 2em); }

#xnav .ui.container.nav .menu .item { font-size: 15px; }

.sub .masthead .ui.container > .ui.stackable.grid > .column { padding-left: 10px !important; padding-right: 10px !important; }
.sub .masthead .ui.grid > .column:not(.row) { position: relative; display: inline-block; width: 100% !important; margin: 0 0 !important; }
.sub .masthead .ui.grid, .sub .masthead .ui.grid .tright { text-align: center; }
.sub .masthead .ui.grid .vmiddle { position: relative; top: 0; transform: none; }
.sub .masthead .ui.grid .subhero .ui.image { float: none; margin: 0 auto; }

#csview .ui.medium.right.floated.image { width: 30%; }
#subnav .ui.four.doubling.cards > .card, #stlist .ui.four.doubling.cards > .card { width: calc(33.33333333% - 2em); }
#stlist .ui.two.doubling.cards > .card { width: calc(50% - 2em); margin-left: 1em; margin-right: 1em; }
#stlist .w740 { width: 100%; }

}
@media only screen and (max-width: 960px) { /*google+material*/



}
@media only screen and (max-width: 900px) {

.w840 { width: 100%; }
#xnav .ui.container.nav .menu .item { padding: .92857143em 11px; font-size: 14px; }

.ui.masthead.segment { min-height: 420px; height: auto !important; height: 420px; }
.sub .masthead h1.ui.header { font-size: 2em; }
.sub .masthead h1.ui.header .sub.header { line-height: 100%; }

}
@media only screen and (max-width: 840px) { /*google+material*/

.ui.five.doubling.cards > .card { width: calc(33.33333333% - 2em); }

#stview .ui.header .ui.image, #stview .ui.header .sub.header, #stview .ui.header .sub.header, #stview .ui.divider.afterheader { display: block; }
#stview .ui.header .ui.image, #stview .ui.header .content { float: left; }
#stview .ui.header .ui.image { cursor: pointer; }
#stview .ui.header > .image + .content, .ui.header > img + .content { padding-left: .75rem; }
#stview h2.ui.header { width: 100%; overflow: hidden; }
#stview h2.ui.header .sub.header { padding-top: 0; }

#stview .ui.grid > [class*="five wide"].column { display: none; }
#stview .ui.grid > [class*="eleven wide"].column { width: 100% !important; }

#psview .ui.medium.image { display: none; }
#psview .nodisp { display: block; }

}
@media only screen and (max-width: 800px) {

.w740 { width: 100%; }

}
@media only screen and (max-width: 768px) {

html, .bod, #con, .ui.form .field > label { font-size: 16px; }
.ui.massive.segment, .ui.massive.segments .segment { font-size: 1.3em; }
.ui.large.segment, .ui.large.segments .segment { font-size: 1.1em; }

.fontsize14 { font-size: 12px; }
.fontsize16 { font-size: 14px; }
.fontsize18 { font-size: 16px; }
.fontsize21 { font-size: 18px; }
.fontsize24 { font-size: 22px; }
.fontsize28 { font-size: 24px; }
.fontsize32 { font-size: 28px; }
.fontsize48 { font-size: 38px; }

#mnav .item, #xnav .item { display: none; }
#mnav .toc.item, #xnav .toc.item, #mnav .item.logo, #xnav .item.logo { display: block; }
#mnav.ui.secondary.pointing.menu .item.logo { top: -6px; }
#xnav.ui.menu .item > i.icon { font-size: 1.4em; margin-top: 3px; }
#mnav.ui.menu .toc.item > i.icon { font-size: 16px; }
.ui.visible.uncover.sidebar { z-index: 999; }
#snav.ui.menu .item { padding: 1.14285714em; }

.masthead h1.ui.header { font-size: 2em; }
.masthead h2 { font-size: 1.5em; }

#csview .ui.card .description, #csview .ui.card .extra.content { font-size: 12px; }

}
@media only screen and (max-width: 767px) {

#viw.ui.container { width: 100% !important; }
.ui.container.nav { width: 90% !important; margin: 0 auto !important; }
#xnav .ui.container.nav { width: 90% !important; margin: 0 auto !important; }

#pnav { width: 80%; }
#pnav.ui.stackable.menu { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
#pnav.ui.stackable.menu .item { width: 100% !important; }
#pnav.ui.stackable.menu .item:before { position: absolute; content: ''; top: auto; bottom: 0px; left: 0px; width: 100%; height: 1px; background: rgba(34, 36, 38, 0.1); }

#subnav .ui.four.doubling.cards > .card { width: calc(50% - 2em); }



}
@media only screen and (max-width: 736px) {



}
@media only screen and (max-width: 720px) { /*google+material*/



}
@media only screen and (max-width: 667px) {

.w640 { width: 100%; }

.ll, .rr, .coltwo, .coltre, .coltre.mid, .coltre.dbl, .colfor, .colfor.dbl, .colfiv, .colsix { width: 100%; float: none; display: block; }
.rr, .coltwo.floatr, .coltre.floatr, .colfor.floatr, .colfiv.floatr, .colsix.floatr { float: none; }
.coltwo, .coltre, .coltre.mid, .coltre.dbl, .colfor, .colfor.dbl, .colfiv, .colsix, .rr.tright, .coltre.tright, .colfor.tright, .colfiv.tright { text-align: center; }

}
@media only screen and (max-width: 640px) { /*640x360androids*/

.w540 { width: 100%; }

}
@media only screen and (max-width: 600px) { /*google+material*/

.ui.five.doubling.cards > .card { width: calc(50% - 2em); }

}
@media only screen and (max-width: 599px) {

.w480 { width: 100%; }

#testimonials .ui.card { width: 100%; }
#csview .ui.card .description, #csview .ui.card .extra.content { display: none; }

#testimonials .ui.card { height: auto; }

}
@media only screen and (max-width: 480px) { /*google+material*/

#csview .ui.medium.right.floated.image { width: 40%; }
#stlist .ui.three.doubling.cards > .card, #stlist .ui.two.doubling.cards > .card { width: calc(100% - 2em); }
#stlist .ui.four.doubling.cards > .card { width: calc(50% - 2em); }

#stview .ui.header .ui.image, #stview .ui.header .content { float: none; display: block; text-align: center; }
#stview .ui.header .ui.image { margin: 0 auto; }
#stview .ui.header > .image + .content, .ui.header > img + .content { padding-left: 0; }

#testimonials .ui.card { height: 560px; }

}
@media only screen and (max-width: 414px) {

#subnav .ui.four.doubling.cards > .card { width: calc(100% - 2em); }

.fwrp input:not(.btn), .fwrp textarea { width: 90%; }
input.btn, a.btn { width: auto; padding: 0 20px; display: inline-block; }
.fom .radiof input, .fom .radiof label { float: left; }
.fom .radiof input { width: 16px; }
.fom .radiof label { width: 90%; }

#testimonials .ui.card { font-size: 15px; height: 540px; }

}
@media only screen and (max-width: 375px) {

.ui.four.doubling.cards, .ui.five.doubling.cards { max-width: 100%; margin-left: auto; margin-right: auto; }
.ui.four.doubling.cards .card, .ui.five.doubling.cards .card { width: 100%; }

#csview .ui.five.doubling.cards > .card { width: calc(50% - 2em); }
#stlist .ui.four.doubling.cards > .card { width: calc(100% - 2em); }

#testimonials .ui.card { font-size: 14px; height: 474px; }
#testimonials .ui.card .content .description { padding: 0 14px 14px 14px; }

}
@media only screen and (max-width: 374px) {

#viw.ui.container { width: 94% !important; }

}
@media only screen and (max-width: 360px) { /*google+material*/

#viw.ui.container { width: 90% !important; }
#csview .ui.medium.right.floated.image { display: none; }

#testimonials .ui.card { height: 510px; }

}
@media only screen and (max-width: 320px) {

#testimonials .ui.card { height: 550px; }

}












/*** print styles ***/
@media print {

* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
a, a:visited { text-decoration: underline; }
/*a[href]:after { content: " (" attr(href) ")"; }*/
/*abbr[title]:after { content: " (" attr(title) ")"; }*/
/*.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }*/  /* Don't show links for images, or javascript/internal links */
pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
thead { display: table-header-group; } /* h5bp.com/t */
tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
@page { margin: 0.5cm; }
p, h2, h3 { orphans: 3; widows: 3; }
h2, h3 { page-break-after: avoid; }



.hideinprint, #ov, #backtotop, #mnav, #hero, .nlll
{ display: none; }



}

