<script>
	jQuery(function () {
		jQuery('#form_add_user').off('submit');
		jQuery("#form_add_user").submit(function (e) {
			e.preventDefault();
			var values = getFormElements();
			var url = '{{ _url.base }}mullins/password/validate.json';

			jQuery.ajax({
				url: url,
				method: 'POST',
				data: values,
				success: function (json) {
					if (json.success) {
						alert("Password successfully updated");
						window.location = '{{ _url.base }}_admin/login';
					}
					else {
						jQuery('.fermsg').html('');
						for (var f in json.errors) {
							jQuery('#' + f + '_error').html(json.errors[f][0]).parent().addClass('fer');
						}
					}
				},
				error: function (request, status, error) {
					if (request.status) {
						alert('Error: ' + request.status + '\n' + request.statusText);
					}
				}
			});
			return false;
		});

		function getFormElements() {
			var values = {};
			values['user_id'] = jQuery("#user_id").val();
			values['new_password'] = jQuery("#new_password").val();
			values['confirm_password'] = jQuery("#confirm_password").val();
			return values;
		}
	});
</script>


<div class="emspace variable"></div>
<section class="loginwrp bcc-all">

    <img src="{{ _skinDir }}img/epicuest.png" class="resp" alt="" />
    <div class="emspace h30"></div>

	<form id="form_add_user" action="javascript:;" class="fom">

		<input type="hidden" id="user_id" value="{{ userId }}"/>

        <div id="pov">Reset Password</div>
		<div class="pov">

            <p class="center">Enter the new password below, and click the Save button to update details.
                <br/>You must enter (and match) both password fields below.</p>
            <div class="emspace"></div>

			<div class="fwrp">
				<input type="password" name="new_password" id="new_password" value="" placeholder="password"/>
				<div class="fermsg" id="new_password_error"></div>
			</div>

			<div class="emspace h5"></div>

			<div class="fwrp">
				<input type="password" name="confirm_password" id="confirm_password" value=""
					   placeholder="confirm password"/>
				<div class="fermsg" id="confirm_password_error"></div>
			</div>

			<div class="emspace h20"></div>
			<input class="btn" type="submit" value="Reset"/>

		</div>
	</form>

	<div class="emspace h20 floatc"></div>

</section>
