
<p>Yo Team BlueSky</p>
<p>A quote/brief request has been submitted.</p>
<p>
Name: {{ name }}
<br />Phone: {{ phone }}
<br />Email: {{ email }}
<br />Project Summary:
<br />{{ project_summary }}
</p>
<p>Files: see attached</p>

